a.bruh:hover {
    background-color: green
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (min-width: 1000px) {
    ul.navimg {
      font-size: 40px;
      margin-bottom:-150px;
    }
    .navheader {
      font-size:70px;
    }
    .navmedia {
      font-size:50px;
    }
  
    .maincap1 {
    font-size: 25px;
    text-align: center;
  }
  
  .imgleft {
      width:50%;
      margin-left:20px;
  }
  
  .imgright {
    width: 50%;
    margin-left:20px;
    float:right;
  }
  
  .mobileinvis2 {
    visibility: hidden;
    display: none;
  }
  
  .mobileinvis1 {
    visibility: visible;
  
  }
  
  .logo {
    width:350px;
  }
  
  
  .covidwarning {
    font-size:50px;
  }
  
  .bruh {
    font-size:70px
  }
  
  .bg-image {
    visibility: visible;
  }
  
  .faqheader {
    font-size: 80px;
  }
  }
  
  
  @media screen and (max-width: 1000px) {
    ul.navimg {
      font-size: 10px;
      margin-top: -60px;
      margin-left:27px
    }
  .navheader {
    font-size:35px;
  }
  
  .navmedia {
    font-size:17px;
  }
  
  .maincap1 {
    font-size: 5px;
    animation:none;
    margin-top:-75px;
  }
  
  .imgleft {
      width:39%;
      margin-left:5px
  }
  
  .imgright {
    width:39%;
    margin-left:5px;
    float:right;
   
  }
  .mobileinvis2 {
    visibility: visible;
  margin-top:-100px;
  }
  
  
  .mobileinvis1 {
    visibility: hidden;
  display: none;
  }
  
  .logo {
    width:150px;
  }
  
  .covidwarning {
    font-size: 8px;
  }
  
  .bruh {
    font-size:10px
  }
  .bg-image {
    visibility: hidden;
    display: none;
  }
  
  
 
  
  .container-fluid {
    margin-bottom:50px
  }


  .hidden {
    display:none;
    visibility: hidden;
  }
  .faqheader {
    font-size: 40px;
  }


  }
  
  
  .rounded {
    border-radius: 15px
  }
  
  
  body {
    background-color: white;
  }
  
  .highlight:hover{
    background-color: gray;
  }
  
  
  .navbar-custom {
    background-color: white;
  }
  
  

  
  .inline-photo {
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin: 2em auto;
    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    max-width: 550px;
    width: 70%;
    will-change: transform, opacity;
  }
  
  
  .inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(-2deg);
  }
  
  
  .inline-photo.is-visible1 {
    opacity: 1;
    transform: rotateZ(2deg);
  }
  
  .bg-image {
    /* The image used */
    background-image: url("https://sell.g2.com/hubfs/FAQ.png");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 50%; 
    top: 50%;
    left: 50%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
  }


@font-face {
  font-family: Neoteric;
  src: url(Neoteric-32A8.ttf)
}


.nav-link {
  font-family: Neoteric
}



@keyframes slideRight {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes slideRight{
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

.sliding {
  animation: slideRight 5s;
  -webkit-animation: slideRight 5s;
}


@font-face {
  font-family: Neoteric;
  src: url(Neoteric-32A8.ttf)
}
.nav-link {
  font-family: Neoteric;
}


.navheader {
  font-family: Neoteric;
}


.indent {
  text-indent: 20px
}


#grad {
  background-image: linear-gradient(to bottom right, blue, lightblue);
  border-radius: 15px
}


.bg-image {
  /* The image used */
  background-image: url(" https://cdn.discordapp.com/attachments/791297524707098624/837857421468237834/unknown.png");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 70%; 
  top: 50%;
  left: 50%;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}



.startgif:hover {
  border: solid #ff7a7a 2px
}

